<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <label for="user" class="form-label">Usuário</label>
              <input type="text" class="form-control" id="user" [(ngModel)]="user" name="user" placeholder="Usuário" required>
            </div>
            <div class="mb-3">
              <label for="pass" class="form-label">Senha</label>
              <input type="password" class="form-control" id="pass" [(ngModel)]="pass" name="pass" placeholder="Senha" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
